#root{
    background-image: url("../assets/forecastbackground.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.forecastIcon{
    width: min-content;
    height: min-content;
    align-self: center;

}
